.add {
    width: 70%;
    margin-left: max(5vw,25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}
.add form{
    gap: 20px;
}

.addimageupload img{
    width: 120px;
    cursor: pointer;
}

.addproductname, .addproductdiscription{
    width: max(40%,280px);
}
.addproductname input, .addproductdiscription textarea{
    padding: 10px;
}
.addcategoryprice{
    display: flex;
    gap: 30px;
}
.addcategoryprice select, .addcategoryprice input{
    max-width: 120px;
    padding: 10px;
}

.addbutton{
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}